* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #abcdef;
	user-select: none;
}

.header {
	display: flex;
}

.block-bet {
	position: fixed;
	right: 20%;
	top:  3%;
}

.info-bet {
	margin-left: 5px;
}

.block-bet span {
	font-size: 20px;
	display: flex;
}

.last-bet {
	font-size: 20px;
	margin-left: 5px;
}

.money {
	margin-left: 5px;
}

.wrapper{
	width: 450px;
	margin: 0 auto;
	border: 2px solid #fff;
	margin-top: 5px;
}

.numberCasino {
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 45px;
	font-size: 20px;
	color: #fff;	
	margin: 0 auto;
	margin-top: 20px;
}

.area-zero {
	width: 300px;
	margin-left: 148px;
	border: 1px solid #fff;
	margin-top: 20px;
}

.area-zero p{
	width: 40px;
	height: 40px;
	border-radius: 50px 50px 50px 50px;
	line-height: 40px;
	background: green;
	color: #fff;
	text-align: center;
	margin: 10px auto;
}

.part-1, .part-2, .part-3 {
	display: flex;
}

.part-1 .details-bottom, .part-2 .details-bottom, .part-3 .details-bottom {
	position: relative;
	left: 0;
}

.part-1 .details-bottom .b-1to18, .part-2 .details-bottom .red-area, .part-3 .details-bottom .ood-area {
	width: 70px;
	height: 121px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	line-height: 35px;
	text-align: center;
}

.part-1 .details-bottom .even, .part-2 .details-bottom .black-area, .part-3 .details-bottom .b-19to36 {
	width: 70px;
	height: 121px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	line-height: 35px;
	text-align: center;
}

.part-1 .details-bottom .b-1to18 p, .part-2 .details-bottom .red-area p, .part-3 .details-bottom .ood-area p{
	transform: rotate(90deg);
	margin-top: 35px;
}

.part-2 .details-bottom .red-area {
	background: red;
}

.part-1 .details-bottom .even p, .part-2 .details-bottom .black-area p, .part-3 .details-bottom .b-19to36 p {
	transform: rotate(90deg);
	margin-top: 35px;
}

.part-2 .details-bottom .black-area p{
	transform: rotate(90deg);
	margin-top: 40px;
}

.part-2 .details-bottom .black-area {
	background: black;
}

.part-1 .b-1st12, .part-2 .b-2nd12, .part-3 .b-3rd12 {
	width: 79px;
	height: 242px;
	color: #fff;
	font-size: 25px;
	border: 1px solid #fff;
	line-height: 35px;
	text-align: center;
}

.part-1 .b-1st12 p, .part-2 .b-2nd12 p, .part-3 .b-3rd12 p {
	transform: rotate(90deg);
	margin-top: 90px;
}

.part-1 .number-part-1, .part-2 .number-part-1, .part-3 .number-part-1 {
	display: block;
}

.part-1 .number-part-1 .row-1, .part-2 .number-part-1 .row-1, .part-3 .number-part-1 .row-1 {
	display: flex;
}
.part-1 .number-part-1 .row-2, .part-2 .number-part-1 .row-2, .part-3 .number-part-1 .row-2 {
	display: flex;
}
.part-1 .number-part-1 .row-3, .part-2 .number-part-1 .row-3, .part-3 .number-part-1 .row-3 {
	display: flex;
}
.part-1 .number-part-1 .row-4, .part-2 .number-part-1 .row-4, .part-3 .number-part-1 .row-4 {
	display: flex;
}

.part-1 .number-part-1 .row-1 p, .part-2 .number-part-1 .row-1 p, .part-3 .number-part-1 .row-1 p {
	width: 100px;
	height: 60px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: 900;
	font-size: 20px;
}

.part-1 .number-part-1 .row-2 p, .part-2 .number-part-1 .row-2 p, .part-3 .number-part-1 .row-2 p {
	width: 100px;
	height: 60px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: 900;
	font-size: 20px;
}

.part-1 .number-part-1 .row-3 p, .part-2 .number-part-1 .row-3 p, .part-3 .number-part-1 .row-3 p {
	width: 100px;
	height: 60px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: 900;
	font-size: 20px;
}

.part-1 .number-part-1 .row-4 p, .part-2 .number-part-1 .row-4 p, .part-3 .number-part-1 .row-4 p {
	width: 100px;
	height: 60px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: 900;
	font-size: 20px;
}

.red {
	background: red;
}

.black {
	background: black;
}

.part-4, .wrapp {
	display: flex;
	margin-left: 60px;
}

.part-4 .row-1 p{
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: 900;
	font-size: 20px;
}

.part-4 .row-2 p{
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: 900;
	font-size: 20px;
}

.part-4 .row-3 p{
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: 900;
	font-size: 20px;
}

.part-4 .info {
	line-height: 40px;
	color: #fff;
} 

.menu {
	position: fixed;
	top:  35%;
	left: 42%;
	z-index: 999;
	width: 320px;
	height: 130px;
	background: #fff;
	border-radius: 10px 10px 10px 10px;
	display: none;
}

.menu input {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 290px;
	height: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid red;
}

.menu button {
	margin-left: 15px;
	margin-top: 10px;
	width: 290px;
	height: 30px;
	border: none;
	outline: none;
	background: crimson;
	color: #fff;
	border: 1px solid crimson;
	border-radius: 6px 6px 6px 6px;
}

.menu button:hover {
	color: crimson;
	background: none;
}

#close {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}